.a{
    font-family:Arial;
    font-size:12px;
    font-style:normal;
    font-weight:normal;
    color:green;


}
.b{
    font-family:Helvetica;
    font-size:50%;
    font-style:italic;
    font-weight:bold;
    color:rgb(0,255,0);


}
.c{
    font-family:sans-serif;
    font-size:12px;
    font-style:oblique;
    font-weight:bolder;
    color:#00ff00;

}
.d{
    font-family:normal;
    font-size:12px;
    font-style:normal;
    font-weight:lighter;


}